*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(204, 252, 252);
}
.header-top{
    padding: 50px;
    text-align: center;
    background: rgb(171, 247, 247);
}
.centrado{
    max-width: 300px;
    background: rgb(255, 255, 255);
    padding: 2rem;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow:0px 2px 17px -9px #000;
}
.centrado form div{
    margin-top: 10px;
}
form{
    margin-top: 2rem;
}
.centrado form label{
    display: block;
    text-align: left;
    margin-bottom: 5px;
}
.centrado form button[type="submit"]{    
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.centrado form input[type="text"], .centrado form input[type="password"]{
    display: block;
    width: 100%;
    padding: .5rem;
}